@font-face {
    font-family: "icon";
    src: url("./icon.eot?#iefix") format("embedded-opentype"),
    url("./icon.woff") format("woff"),
    url("./icon.ttf") format("truetype"),
    url("./icon.svg#iconFont") format("svg");
    font-weight: normal;
    font-style: normal;
}

.icon {
    display: inline-block;
    font-family: "icon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    vertical-align: middle;
    margin-bottom: 2px;
}

.icon:before {
    font-family: icon !important;
    font-style: normal;
    font-weight: normal !important;
}

.icon-arrow-left-a:before {
	content: "\f101";
}
.icon-arrow-left:before {
	content: "\f102";
}
.icon-arrow-left-1:before {
	content: "\f103";
}
.icon-arrow-left-2:before {
	content: "\f104";
}
.icon-arrow-right-a:before {
	content: "\f105";
}
.icon-arrow-right-b:before {
	content: "\f106";
}
.icon-arrow-right:before {
	content: "\f107";
}
.icon-arrow-right-1:before {
	content: "\f108";
}
.icon-arrow-up:before {
	content: "\f109";
}
.icon-arrow-up-1:before {
	content: "\f10a";
}
.icon-slice:before {
	content: "\f10b";
}
.icon-slice-1:before {
	content: "\f10c";
}
.icon-sound-off:before {
	content: "\f10d";
}
.icon-sound-off-1:before {
	content: "\f10e";
}
.icon-sound-on:before {
	content: "\f10f";
}
.icon-sound-on-1:before {
	content: "\f110";
}
